body {
    background-color: rgb(158, 230, 230);
}


h1 {
   text-align: center;
   color: rgb(46, 101, 153);

}


h3 {
    text-align: center;
    color: rgb(46, 101, 153);
}


.botoes{
    justify-content: center;
    align-items: center;
}